/***BRIAN'S CSS NOTES
1) I believe that CSS is a deceptively difficult 'language'. Although CSS doesn't have very much functionality and it is very easy to make the application do things with CSS,
constructing stable CSS that will behave normally across radically different viewports can be very, very hard. This application demonstrates my ability to do that at a high level.
The text box and the text arrow is pure CSS. It can adapt intelligently to the full scope of desktop / laptop sizes without losing it's position. The same is true of the images.
I didn't need to brute-force my way through extensive media query targeting. 
2) My Style Conventions: I like to seperate unrelated styling blocks by a newline and group related styling in uninterrupted blocks.
I relate parent and child styles by attaching the child to the parent and adding an indentation, like so: 
.parent {
    styling: styling!;
}   .child {
        styling: OMGSTYLING!;
}
-Whenever I can, I like to set a parent class name and then dive into it's children with attributes. I never go deeper than three selectors. Ever.
-I would normally not use a plain selector like 'header', because it causes conflicts as an application grows and therefore is not maintaible. 
However, I did that in the case of briansays because it's a small application that I knew wouldn't grow. 
-Naming convention: to prevent naming conflicts I typically prefix all class name's with the initials of an application, in this case of briansays it's 'bs'. 
Then I try to create a semantic name that tells someone what DOM element they are manipulating without having to look it up.
-I always put my media queries at the bottom of my stylesheet so the cascade can take care of annoying conflicts so I don't have to deal with it manually.
***/

/*****SASS ASSETS******/  

    // Variables 
$heading-textshadow: #eee; //#9e9e9e;
$base-width: 50%; 
$text-bubble-radius: 10px; 
$text-bubble-color: #666;
$button-color: #fff;

    // Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($top, $left, $spread, $blur, $color) {
    -webkit-box-shadow: $top $left $spread $blur $color;
    -moz-box-shadow: $top $left $spread $blur $color;
    box-shadow: $top $left $spread $blur $color;  
}

@mixin top-gradient($top-color, $top-stop-pctg, $bottom-color, $bottom-stop-pctg) {
    background-image: -ms-linear-gradient(top, $top-color $top-stop-pctg, $bottom-color $bottom-stop-pctg);
    background-image: -moz-linear-gradient(top, $top-color $top-stop-pctg, $bottom-color $bottom-stop-pctg);
    background-image: -o-linear-gradient(top, $top-color $top-stop-pctg, $bottom-color $bottom-stop-pctg); 
    background-image: -webkit-linear-gradient(top, $top-color $top-stop-pctg, $bottom-color $bottom-stop-pctg);
    background-image: linear-gradient(to bottom, $top-color $top-stop-pctg, $bottom-color $bottom-stop-pctg);
}

/*****RESETS******/

@import "reset";
@import url(http://fonts.googleapis.com/css?family=Delius);

/*****APPLICATION STYLING******/

body {
    font-family: 'Delius', cursive;
    min-width: 1080px;
}

.container {
    width: $base-width;
    margin: 0 25%;
    float: left;
}

header {
    width: 70%;
    margin: 1% 15%;
}   header h1 {
        font-size: 2em;
        text-align: center;
}   header p {
        text-align: center;
        display: inline-block;
        width: 90%;
        margin: 0 5%;
}

section {
    width: 100%;
    float: left;
    margin: 2% 0 4% 0;
}   .Napoleon {
        margin: 2% 0 30% 0;
}

.bsTextBubble {
    position: relative;
    width: 50%;
    height: 200px;
    margin: 1.5% 25% 10% 25%;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid $text-bubble-color;
    display: inline-block;
    @include border-radius($text-bubble-radius);
    @include box-shadow(2px, 2px, 4px, 0, #888);
    textarea {
        width: 99%;
        height: 97%;
        border: 0 solid #fff;
        box-shadow: 0 0 0 #fff;
    }   
    textarea:hover, textarea:focus {
        @include top-gradient(#999, 0%, #fff, 3%);
    }
}   .rightBubble:before, .rightBubble:after, .leftBubble:before, .leftBubble:after {    
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
}   .rightBubble:before, .leftBubble:before {
        border: 35px solid;    
}   .rightBubble:after, .leftBubble:after {
        border: 30px solid;
}   .rightBubble:before {
        right: -4.8em;
        top: 90px;
        border-color: transparent transparent $text-bubble-color $text-bubble-color;
}   .rightBubble:after {
        right: -3.75em;
        top: 94px;
        border-color: transparent transparent #fff #fff;
}   .leftBubble:before {
        left: -75px;
        top: 90px;
        border-color: transparent $text-bubble-color $text-bubble-color transparent;
}   .leftBubble:after {
        left: -60px;
        top: 94px;
        border-color: transparent #fff #fff transparent;
}   .bsTextBubble button {
        border-bottom: 2px solid #999; 
        border-right: 2px solid #ccc;
        cursor: pointer;
        padding: 3% 5%;
        letter-spacing: .03em;
        outline: none; 
        font-size: 1.2em;
        position: relative;
        top: -1.5em;
        @include top-gradient($button-color, 40%, darken($button-color, 15%), 100%);
}       .bsTextBubble button:hover {
            @include top-gradient(#fff, 40%, #eee, 100%);
}       .bsTextBubble button:active {
            border-bottom: 2px solid #777;
            border-right: 2px solid #777;  
}       .bsTextBubble p {
            width: 100%;
            word-wrap: break-word;
            line-height: 1.5em;
            overflow: hidden;
            height: 100%;
}

.leftOrientation {
    position: absolute;
    margin-left: -9%;
}   .leftOrientation.replyPic {
        margin: 6% 0 0 -4%;
}
.rightOrientation {
    position: absolute;
    right: 14%;
}   .rightOrientation.replyPic {
        margin-top: 6%;
        right: 20%;
}

footer {
    width: 100%;
    margin: 0;
    background-color: #eee;
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    padding: 0.7% 0;
}   footer p {
        position: relative;
        margin-left: 1%;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1468px) and (min-width: 1024px)  {
    .container {
        width: 80%;
        margin: 0 10%;
    }
    .rightOrientation {
        right: 0%;
    }
    .leftOrientation.replyPic, .rightOrientation.replyPic {
        margin-top: 8%;
    }
    .rightOrientation.replyPic {
        right: 5%;
    }
}
